.container-prompt {
  overflow: hidden;
  width: 80%;
  max-width: 600px;
  padding: 1em;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

circle {
  fill: none;
  stroke-width: 3;
}
#gray {
  stroke: lightgray;
}

button:disabled {
  background-color: #ffaaa9;
}

button:disabled:hover {
  background-color: #ffaaa9;
  color: white;
  border-color: white;
  cursor: default;
}
